* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.area1 {
  height: 200px;
  background-image: url(img/box1.jpg);
  background-size: cover;
  background-position: center;
}

.area2 {
  height: 200px;
  background-image: url(img/box2.jpg);
  background-size: cover;
  background-position: center;
}

.area3 {
  height: 200px;
  background-image: url(img/box3.jpg);
  background-size: cover;
  background-position: center;
}

.area4 {
  height: 200px;
  background-image: url(img/box4.jpg);
  background-size: cover;
  background-position: center;
}
